<!doctype html>
<html lang="en">
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title></title>
  </head>
    <body class="text-center" style="background-color:black;">
      <h1></h1>
      <h1></h1>
      <h1></h1>
      <h1></h1>
      <h1></h1>
    <form name='linkget' action='.' method = 'post'>
      <h6 style="color:white;">Form Code</h6>
      <h3 style="color:white;">{{message}}</h3>
      <br><br>
      <h6 style="color:white;">Submissions Code</h6>
      <h3 style="color:white;">{{message2}}</h3>
      <p class="mt-5 mb-3 text-muted">Welcome to Prak EnTech's Online Test App</p>
    </form>
  </body>
</html>
