<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title></title>
  </head>
    <body class="text-center" style="background-color:black;">
      <h1></h1>
      <h1></h1>
      <h1></h1>
      <h1></h1>
      <h1></h1>
    <form name='linkget' action='/teacher/fill' method = 'post'>
      <img class="mb-4" src="https://i.ibb.co/DYxN1fm/122290051-358161408735260-8957979510757164291-n.jpg" width="250"><br>
      <h1 style="color:white;" class="h3 mb-3 font-weight-normal">Teacher's Form</h1>
      <input type='text' name='1q' size = "30" placeholder="Question 1" required autofocus><br><br>
  		<input type="radio" name="co1" value="0" required>
      <input type='text' name='1q1' size = "4" placeholder="Option 1" required autofocus>
  		<input type="radio" name="co1" value="1">
  		<input type='text' name='1q2' size = "4" placeholder="Option 2" required autofocus><br>
  		<input type="radio" name="co1" value="2">
  		<input type='text' name='1q3' size = "4" placeholder="Option 3" required autofocus>
  		<input type="radio" name="co1" value="3">
  		<input type='text' name='1q4' size = "4" placeholder="Option 4" required autofocus><br><br>

      <input type='text' name='2q' size = "30" placeholder="Question 2" required autofocus><br><br>
      <input type="radio" name="co2" value="0" required>
      <input type='text' name='2q1' size = "4" placeholder="Option 1" required autofocus>
      <input type="radio" name="co2" value="1">
      <input type='text' name='2q2' size = "4" placeholder="Option 2" required autofocus><br>
      <input type="radio" name="co2" value="2">
      <input type='text' name='2q3' size = "4" placeholder="Option 3" required autofocus>
      <input type="radio" name="co2" value="3">
      <input type='text' name='2q4' size = "4" placeholder="Option 4" required autofocus><br><br>

      <input type='text' name='3q' size = "30" placeholder="Question 3" required autofocus><br><br>
      <input type="radio" name="co3" value="0" required>
      <input type='text' name='3q1' size = "4" placeholder="Option 1" required autofocus>
      <input type="radio" name="co3" value="1">
      <input type='text' name='3q2' size = "4" placeholder="Option 2" required autofocus><br>
      <input type="radio" name="co3" value="2">
      <input type='text' name='3q3' size = "4" placeholder="Option 3" required autofocus>
      <input type="radio" name="co3" value="3">
      <input type='text' name='3q4' size = "4" placeholder="Option 4" required autofocus><br><br>

      <input type='text' name='4q' size = "30" placeholder="Question 4" required autofocus><br><br>
      <input type="radio" name="co4" value="0" required>
      <input type='text' name='4q1' size = "4" placeholder="Option 1" required autofocus>
      <input type="radio" name="co4" value="1">
      <input type='text' name='4q2' size = "4" placeholder="Option 2" required autofocus><br>
      <input type="radio" name="co4" value="2">
      <input type='text' name='4q3' size = "4" placeholder="Option 3" required autofocus>
      <input type="radio" name="co4" value="3">
      <input type='text' name='4q4' size = "4" placeholder="Option 4" required autofocus><br><br>

      <input type='text' name='5q' size = "30" placeholder="Question 5" required autofocus><br><br>
      <input type="radio" name="co5" value="0" required>
      <input type='text' name='5q1' size = "4" placeholder="Option 1" required autofocus>
      <input type="radio" name="co5" value="1">
      <input type='text' name='5q2' size = "4" placeholder="Option 2" required autofocus><br>
      <input type="radio" name="co5" value="2">
      <input type='text' name='5q3' size = "4" placeholder="Option 3" required autofocus>
      <input type="radio" name="co5" value="3">
      <input type='text' name='5q4' size = "4" placeholder="Option 4" required autofocus><br><br>

      <input type='text' name='6q' size = "30" placeholder="Question 6" required autofocus><br><br>
      <input type="radio" name="co6" value="0" required>
      <input type='text' name='6q1' size = "4" placeholder="Option 1" required autofocus>
      <input type="radio" name="co6" value="1">
      <input type='text' name='6q2' size = "4" placeholder="Option 2" required autofocus><br>
      <input type="radio" name="co6" value="2">
      <input type='text' name='6q3' size = "4" placeholder="Option 3" required autofocus>
      <input type="radio" name="co6" value="3">
      <input type='text' name='6q4' size = "4" placeholder="Option 4" required autofocus><br><br>

      <input type='text' name='7q' size = "30" placeholder="Question 7" required autofocus><br><br>
      <input type="radio" name="co7" value="0" required>
      <input type='text' name='7q1' size = "4" placeholder="Option 1" required autofocus>
      <input type="radio" name="co7" value="1">
      <input type='text' name='7q2' size = "4" placeholder="Option 2" required autofocus><br>
      <input type="radio" name="co7" value="2">
      <input type='text' name='7q3' size = "4" placeholder="Option 3" required autofocus>
      <input type="radio" name="co7" value="3">
      <input type='text' name='7q4' size = "4" placeholder="Option 4" required autofocus><br><br>

      <input type='text' name='8q' size = "30" placeholder="Question 8" required autofocus><br><br>
      <input type="radio" name="co8" value="0" required>
      <input type='text' name='8q1' size = "4" placeholder="Option 1" required autofocus>
      <input type="radio" name="co8" value="1">
      <input type='text' name='8q2' size = "4" placeholder="Option 2" required autofocus><br>
      <input type="radio" name="co8" value="2">
      <input type='text' name='8q3' size = "4" placeholder="Option 3" required autofocus>
      <input type="radio" name="co8" value="3">
      <input type='text' name='8q4' size = "4" placeholder="Option 4" required autofocus><br><br>

      <input type='text' name='9q' size = "30" placeholder="Question 9" required autofocus><br><br>
      <input type="radio" name="co9" value="0" required>
      <input type='text' name='9q1' size = "4" placeholder="Option 1" required autofocus>
      <input type="radio" name="co9" value="1">
      <input type='text' name='9q2' size = "4" placeholder="Option 2" required autofocus><br>
      <input type="radio" name="co9" value="2">
      <input type='text' name='9q3' size = "4" placeholder="Option 3" required autofocus>
      <input type="radio" name="co9" value="3">
      <input type='text' name='9q4' size = "4" placeholder="Option 4" required autofocus><br><br>

      <input type='text' name='10q' size = "30" placeholder="Question 10" required autofocus><br><br>
      <input type="radio" name="co10" value="0" required>
      <input type='text' name='10q1' size = "4" placeholder="Option 1" required autofocus>
      <input type="radio" name="co10" value="1">
      <input type='text' name='10q2' size = "4" placeholder="Option 2" required autofocus><br>
      <input type="radio" name="co10" value="2">
      <input type='text' name='10q3' size = "4" placeholder="Option 3" required autofocus>
      <input type="radio" name="co10" value="3">
      <input type='text' name='10q4' size = "4" placeholder="Option 4" required autofocus><br><br>

  		<input type="submit" value="Submit">
<br><br>
      <p class="mt-5 mb-3 text-muted">Welcome to Prak EnTech's Online Test App</p><br><br>
    </form>
  </body>
</html>