<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title></title>
  </head>
    <body class="text-center" style="background-color:black;">
      <h1></h1>
      <h1></h1>
      <h1></h1>
      <h1></h1>
      <h1></h1>
    <form name='linkget' action='.' method = 'post'>
      <img class="mb-4" src="https://i.ibb.co/DYxN1fm/122290051-358161408735260-8957979510757164291-n.jpg" width="250">
      <h1 style="color:white;" class="h3 mb-3 font-weight-normal">Online Examination Form</h1>

      <input type='text' name='Sname' placeholder="Name" required autofocus><br><br>
      <input type='text' name='Sroll' size = "4" placeholder="Roll No." required autofocus>
      <input type='text' name='Sclass' size = "10" placeholder="Class&Section" required autofocus><br><br>
      <h3 style="color:white;" class="h3 mb-3 font-weight-normal">{{Q1}}</h3>
      <input type='text' name='a1' placeholder="Answer 1" required autofocus><br><br>
      <h2 style="color:white;" class="h3 mb-3 font-weight-normal">{{Q2}}</h2>
      <input type='text' name='a2' placeholder="Answer 2" required autofocus><br><br>
      <h2 style="color:white;" class="h3 mb-3 font-weight-normal">{{Q3}}</h2>
      <input type='text' name='a3' placeholder="Answer 3" required autofocus><br><br>
      <h2 style="color:white;" class="h3 mb-3 font-weight-normal">{{Q4}}</h2>
      <input type='text' name='a4' placeholder="Answer 4" required autofocus><br><br>
      <h2 style="color:white;" class="h3 mb-3 font-weight-normal">{{Q5}}</h2>
      <input type='text' name='a5' placeholder="Answer 5" required autofocus><br><br>
      <h2 style="color:white;" class="h3 mb-3 font-weight-normal">{{Q6}}</h2>
      <input type='text' name='a6' placeholder="Answer 6" required autofocus><br><br>
      <h2 style="color:white;" class="h3 mb-3 font-weight-normal">{{Q7}}</h2>
      <input type='text' name='a7' placeholder="Answer 7" required autofocus><br><br>
      <h2 style="color:white;" class="h3 mb-3 font-weight-normal">{{Q8}}</h2>
      <input type='text' name='a8' placeholder="Answer 8" required autofocus><br><br>
      <h2 style="color:white;" class="h3 mb-3 font-weight-normal">{{Q9}}</h2>
      <input type='text' name='a9' placeholder="Answer 9" required autofocus><br><br>
      <h2 style="color:white;" class="h3 mb-3 font-weight-normal">{{Q10}}</h2>
      <input type='text' name='a10' placeholder="Answer 10" required autofocus><br><br>
      <button class="text-center" type="submit">Click</button><br><br>
      <p class="mt-5 mb-3 text-muted">Welcome to Prak EnTech's Online Test Website</p><br><br><br><br><br><br><br><br><br><br><br><br>
      <h3 style="color:white;" class="h3 mb-3 font-weight-normal">Don't Change the TextBox Below</h3>
      <input type='text' name='myid' required autofocus value='{{Id}}' size = "3">

    </form>
  </body>
</html>