<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title></title>
  </head>
    <body class="text-center" style="background-color:black;">
      <h1></h1>
      <h1></h1>
      <h1></h1>
      <h1></h1>
      <h1></h1>
    <form name='linkget' action='.' method = 'post'>
      <img class="mb-4" src="https://i.ibb.co/DYxN1fm/122290051-358161408735260-8957979510757164291-n.jpg" width="250">
      <h1 style="color:white;" class="h3 mb-3 font-weight-normal">Teacher's Form</h1>
      <input type='text' name='q1' placeholder="Question 1" required autofocus><br><br>
      <input type='text' name='ans1' placeholder="Answer 1" required autofocus><br><br>
      <input type='text' name='q2' placeholder="Question 2" required autofocus><br><br>
      <input type='text' name='ans2' placeholder="Answer 2" required autofocus><br><br>
      <input type='text' name='q3' placeholder="Question 3" required autofocus><br><br>
      <input type='text' name='ans3' placeholder="Answer 3" required autofocus><br><br>
      <input type='text' name='q4' placeholder="Question 4" required autofocus><br><br>
      <input type='text' name='ans4' placeholder="Answer 4" required autofocus><br><br>
      <input type='text' name='q5' placeholder="Question 5" required autofocus><br><br>
      <input type='text' name='ans5' placeholder="Answer 5" required autofocus><br><br>
      <input type='text' name='q6' placeholder="Question 6" required autofocus><br><br>
      <input type='text' name='ans6' placeholder="Answer 6" required autofocus><br><br>
      <input type='text' name='q7' placeholder="Question 7" required autofocus><br><br>
      <input type='text' name='ans7' placeholder="Answer 7" required autofocus><br><br>
      <input type='text' name='q8' placeholder="Question 8" required autofocus><br><br>
      <input type='text' name='ans8' placeholder="Answer 8" required autofocus><br><br>
      <input type='text' name='q9' placeholder="Question 9" required autofocus><br><br>
      <input type='text' name='ans9' placeholder="Answer 9" required autofocus><br><br>
      <input type='text' name='q10' placeholder="Question 10" required autofocus><br><br>
      <input type='text' name='ans10' placeholder="Answer 10" required autofocus><br><br>

      <button class="text-center" type="submit">Click</button>
      <p class="mt-5 mb-3 text-muted">Welcome to Prak EnTech's Online Test Website</p>
    </form>
  </body>
</html>